%nav.clearfix.nav
  .row.align-middle.small-unstack
    .columns
      %h4.logo
        = image_tag('ping-pong.png')
        = link_to t('app.title'), root_path
    .columns
      %ul.menu.align-right
        - if current_player
          %li
            %a= "Signed in as #{current_player.first_name}"
          %li
            = link_to 'Sign out', sign_out_path, method: :delete, class: 'strong button secondary hollow', id: 'sign-out-link'
        - else
          %li
            = link_to '/auth/slack', class: 'strong button secondary hollow', id: 'sign-in-link' do
              = fa_icon 'slack', text: 'Sign in using Slack'