%nav.clearfix.nav
  .grid-x.grid-padding-x.grid-padding-y
    .cell.small-6
      %h4.logo
        = image_tag('ping-pong.png')
        = link_to t('app.title'), root_path
    .cell.auto
      %ul.menu.align-right
        - if current_player
          %li
            %a= "Signed in as #{current_player.nickname}"
          %li
            = link_to 'Sign out', sign_out_path, method: :delete, class: 'strong button secondary hollow', id: 'sign-out-link'
        - else
          %li
            = link_to '/auth/slack', class: 'strong button secondary hollow', id: 'sign-in-link' do
              = fa_icon 'slack', text: 'Sign in using Slack'